@import url("https://use.typekit.net/hmt4zhf.css");

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
    margin: 0;
    padding: 0;
}
.rectangle {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vh;
    height: 37vh;
    border: 6px solid rgba(95, 93, 107, 1);
}

.car {
    width: 100%;
}

.title {
    margin-left: 10px;
font-kerning: 140%;
font-size:5.5vw;
line-height: 190%;
font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
z-index: 10;
}

 h1 {
    margin-top: 0; 
 }

a {
    color: #B51A00;
    text-decoration: none;
}

a:hover {
    font-style: italic;
    color: rgba(95, 93, 107, 1);
    text-decoration-color: rgba(95, 93, 107, 1);
}

.YearArchive {
    width: 100%;
    margin: 0;
    height: 90vh;
    border-width: 1px;
}

.year1 {
    width: 2vh;
}

.year2 {
    width: 2vh;
}