.rectangle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vh;
    height: 37vh;
    border: 6px solid #B51A00;
}

.car {
    width: 100%;
}